@font-face {font-family: Ubuntu; src: url(../fonts/ubuntu.ttf)}
@font-face {font-family: Consola; src: url(../fonts/consolas.ttf)}
*{margin: 0; padding: 0; user-select: none; outline: none;}
body{background: #000; color: #FFF; font-family: Consola;}
section{display: block;}
header{width: 100%;height: 60px; background: transparent; position: fixed; top: 0; display: flex; justify-content: space-between; align-items: center; border-bottom: 1px solid #151515; overflow: hidden;}
nav{background: transparent; overflow: hidden;}
footer{width: 100%; height: 50px; background: transparent; position: fixed; bottom: 0; display: flex; justify-content: space-around; align-items: center; border-top: 1px solid #151515; overflow: hidden;}
div.btn{width: 30px; height: 30px; background: transparent;}
div#label{width: 200px; height: 50px; margin-left: 10px; text-align: left; position: absolute; left: 0;}
h1{font-size: 20px; line-height: 50px; margin-left: 5px;}
b{color: #3850B0}
div#menu-bar{width: 45px; height: 45px; background: transparent; position: relative; margin-right: 10px; margin-top: 0px; position: absolute; right: 0;}
img{width: 100%; overflow: hidden;}
/*efeito de clique*/
span{position: absolute; background-color: #222; transform: translate(-50%, -50%); pointer-events: none; border-radius: 50%; animation: animate 1s linear infinite;}
@keyframes animate{
	0%{width: 0px; height: 0px; opacity: 0.5}
	100%{width: 500px; height: 500px; opacity: 0}}
div#first-box{width: 100%; height: 1000px; background: #000;}
div#second-box{width: 100%; height: 1000px; background: #050505;}
div#third-box{width: 100%; height: 1000px; background: #0a0a0a;}