@font-face {font-family: Ubuntu; src: url(../fonts/ubuntu.ttf)}
@font-face {font-family: Ubuntu-Bold; src: url(../fonts/ubuntu-bold.ttf)}
@font-face {font-family: Ubuntu-Italic; src: url(../fonts/ubuntu-italic.ttf)}
@font-face {font-family: Ubuntu-Light; src: url(../fonts/ubuntu-light.ttf)}
@font-face {font-family: Ubuntu-Bold-Italic; src: url(../fonts/ubuntu-bold-italic.ttf)}
@font-face {font-family: Consolas; src: url(../fonts/consolas.ttf)}
@font-face {font-family: Consolas-Bold; src: url(../fonts/consolas-bold.ttf)}
@font-face {font-family: Consolas-Italic; src: url(../fonts/consolas-italic.ttf)}
@font-face {font-family: Consolas-Bold-Italic; src: url(../fonts/consolas-bold-italic.ttf)}
@font-face {font-family: Orbitron-Bold; src: url(../fonts/orbitron-bold.otf)}
*{margin: 0; padding: 0; -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;}
body{background: #000; color: #FFF; font-family: Ubuntu-Bold; -ms-overflow-style: none;}
section{display: block;}
header{width: 100%;height: 60px; background: #000; position: fixed; top: 0; display: flex; justify-content: space-between; align-items: center; border-bottom: 1px solid #111; overflow: hidden;}
nav{background: transparent; overflow: hidden;}
footer{width: 100%; height: 50px; background: #000; position: fixed; bottom: 0; display: flex; justify-content: space-around; align-items: center; border-top: 1px solid #111; overflow: hidden;}
div.btn{width: 30px; height: 30px; background: transparent;}
div#logo{width: 30px; height: 30px; margin-left: 10px; text-align: left;}
div#label{line-height: 60px; font-size: 17px; color: #3850B0}
h1{font-size: 20px; line-height: 50px; margin-left: 5px;}
b{color: #3850B0}
div#menu-bar{width: 45px; height: 45px; background: transparent; margin-right: 10px;}
img{width: 100%; overflow: hidden;}
/*efeito de clique*/
span{position: absolute; background-color: #222; transform: translate(-50%, -50%); pointer-events: none; border-radius: 50%; animation: animate 1s linear infinite;}
@keyframes animate{
	0%{width: 0px; height: 0px; opacity: 0.5}
	100%{width: 500px; height: 500px; opacity: 0}}
div#first-box{width: 100%; height: 1000px; background: #000;}
div#second-box{width: 100%; height: 1000px; background: #0A0A0A;}
div#third-box{width: 100%; height: 1000px; background: #000;}
::-webkit-scrollbar{width: 7px; background: #000;}
::-webkit-scrollbar-thumb{width: 7px; background: #111;}
div#pre-loader{width: 100%; height: 100%; position: fixed; z-index: 100; background: #000; top: 0; justify-content: center; display: flex;}
canvas#loading{background: transparent; width: 100px; height: 100px; top: 50%; transform: translateY(-50%); position: absolute;}