@font-face {font-family: Ubuntu; src: url(../fonts/ubuntu.ttf)}
@font-face {font-family: Ubuntu-Bold; src: url(../fonts/ubuntu-bold.ttf)}
@font-face {font-family: Ubuntu-Italic; src: url(../fonts/ubuntu-italic.ttf)}
@font-face {font-family: Ubuntu-Light; src: url(../fonts/ubuntu-light.ttf)}
@font-face {font-family: Ubuntu-Bold-Italic; src: url(../fonts/ubuntu-bold-italic.ttf)}
@font-face {font-family: Consolas; src: url(../fonts/consolas.ttf)}
@font-face {font-family: Consolas-Bold; src: url(../fonts/consolas-bold.ttf)}
@font-face {font-family: Consolas-Italic; src: url(../fonts/consolas-italic.ttf)}
@font-face {font-family: Consolas-Bold-Italic; src: url(../fonts/consolas-bold-italic.ttf)}
*{margin: 0; padding: 0; -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;}
body{background: #000; color: #CCC; font-family: Consolas; -ms-overflow-style: none;}
section{display: block;}
header{width: 100%;height: 60px; background: #000; position: fixed; top: 0; display: flex; justify-content: space-between; align-items: center; border-bottom: 1px solid #111; overflow: hidden; z-index: 10}
nav{background: transparent; overflow: hidden;}
footer{width: 100%; height: 50px; background: #000; position: fixed; bottom: 0; display: flex; justify-content: space-around; align-items: center; border-top: 1px solid #111; overflow: hidden; z-index: 10}
div.btn{width: 30px; height: 30px; background: transparent;}
div#label{width: 200px; height: 50px; margin-left: 10px; text-align: left; position: absolute; left: 0;}
h1{font-family: Ubuntu; font-size: 20px; text-align: center; margin-top: 15px; color: #CCC;}
h2{font-family: Ubuntu; font-size: 17px}
h1#label-title{font-size: 17px; line-height: 53px; margin: 0; margin-left: 5px; font-family: Consolas; text-align: left;}
p#portugues{font-family: Ubuntu; color: #CCC; margin-top: 20px; margin: 20px; text-align: justify;}
b{color: #3850B0}
div#menu-bar{width: 45px; height: 45px; background: transparent; position: relative; margin-right: 10px; margin-top: 0px; position: absolute; right: 0;}
img{width: 100%; overflow: hidden;}
/*efeito de clique*/
span{position: absolute; background-color: #222; transform: translate(-50%, -50%); pointer-events: none; border-radius: 50%; animation: animate 1s linear infinite;}
@keyframes animate{
	0%{width: 0px; height: 0px; opacity: 0.5}
	100%{width: 500px; height: 500px; opacity: 0}}
nav#timeline{width: 80%; height: 700px; background: transparent; margin-left: 50%; transform: translateX(-50%);}
div#card{width: 100%; height: 75%; background: #0A0A0A; top: 50%; position: absolute; transform: translateY(-50%); display: flex; border-radius: 5px}
div#video{width: 50%; height: 100%; background: #000; }
div#content{width: 50%; height: 100%; background: #0A0A0A;}
video{width: 100%; height: 100%; overflow: hidden; outline: none;}
::-webkit-scrollbar{width: 7px; background: #000;}
::-webkit-scrollbar-thumb{width: 7px; background: #111;}
div#pre-loader{width: 100%; height: 100%; position: fixed; z-index: 100; background: #000; top: 0; justify-content: center; display: flex;}
canvas#loading{background: transparent; width: 100px; height: 100px; top: 50%; transform: translateY(-50%); position: absolute;}
@media screen and (max-width: 500px) {
	nav#timeline{width: 95%; height: 900px}
	div#card{width: calc(100% - 10px)}
	div#card{display: block;}
    div#video{width: 100%; height: 45%;}
    div#content{width: 100%; height: 55%;}
}